<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th style="width: 50px;">Id</th>
            <th style="width: 150px;">Free ID</th>
            <th translate="FORM.username">Username</th>
            <th style="width: 100px;" translate="FORM.enable" class="text-center">Enable</th>
            <th style="width: 150px;" translate="FORM.action" class="text-center">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="(id, account) in accountsList">
            <td>#{{id}}</td>
            <td>{{account.username}}</td>
            <td>{{account.comment}}</td>
            <td class="text-center">
                <span class="glyphicon" ng-class="{'glyphicon-ok': account.enable, 'glyphicon-remove': ! account.enable}"></span>
            </td>
            <td data-title="'Action'" style="min-width:90px;" class="text-center">
                <span class="glyphicon glyphicon-time clickable" ng-click="showHistories(id)"></span>
                <span class="glyphicon glyphicon-search clickable" ng-click="showUser(id)"></span>
                <span class="glyphicon glyphicon-pencil clickable" ng-click="editUser(id)"></span>
                <span class="glyphicon glyphicon-trash clickable" ng-click="deleteUser(id)"></span>
            </td>
        </tr>
    </tbody>
</table>
<div class="modal fade" id="messagesHistories">
    <div class="modal-dialog modal-lg" style="width: 80%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Messages histories</h4>
            </div>
            <div class="modal-body">
                <table class="table table-hover table-striped table-condensed">
                    <thead>
                        <tr>
                            <th style="width: 100px;" translate="FORM.from">From</th>
                            <th translate="FORM.messages">Messages</th>
                            <th style="width: 200px;">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="message in userMessagesList">
                            <td>{{message.username}}</td>
                            <td>{{message.message}}</td>
                            <td>{{message.date}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteUser">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Delete User {{actionUser.comment}}</h4>
            </div>
            <div class="modal-body">
                Do you really want to delete the user {{actionUser.comment}} ?
                <br />
                This action will delete all informations about this user except Histories message. You will no longer be able to send any message with this account from this web interface
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" ng-click="actionDeleteUser()">Delete it</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="manageUser">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Edit user</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
